[data-slate-editor] {
  width: 100%;
}

.slate-toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  position: absolute;
  max-width: 302px;
  background-color: #CCC;
  border-radius: 8px;
  padding: 8px;
}

blockquote {
  background-color: #F0F0F0;
  padding: 1rem;
}
