.selected-editor.Tiptap > div {
  width: 100%;
}

.tiptap-toolbar {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  min-width: fit-content;
  background-color: #CCC;
  border-radius: 8px;
  padding: 8px;
}

.tiptap-editor {
  padding: 8px;
  flex-grow: 1;
  max-width: 100%;
  word-break: break-all;
}
