#root {
  margin: 0 auto;
}

.App {
  height: 100vh;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: space-around;
  gap: 8px;
}

button[disabled] {
  cursor: unset;
  border: none;
}

.editor-main {
  margin-top: 32px;
  display: flex;
  align-self: stretch;
  gap: 32px;
  align-items: start;
}

.selected-editor {
  display: flex;
  align-items: start;
  justify-content: center;
  min-height: 500px;
  flex-grow: 1;
}

.editor-main pre {
  background-color: #F0F0F0;
  margin: 0;
  padding: 16px 24px;
  border-radius: 8px;
  width: 500px;
  min-width: 500px;
  overflow: auto;
  font-size: 12px;
  height: 500px;
  box-sizing: border-box;
}
