#root {
  margin: 0 auto;
  padding: 2rem;
}

.App {
  height: 100vh;
}

.tabs {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.tabs button.selected {
  outline: 4px auto -webkit-focus-ring-color;
}

.selected-editor {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}
